@import '../base/variable';
@import '../base/commons';
@import '../function/function';
@import '../components/components-desktop';

@media(min-width: 1199.98px)
{
	.search-form
	{
		._keyword
		{
			width: 80%;
		}
	}
}
@media(min-width: 991.98px)
{
	html
	{
		font-size: .8rem;
	}
	.contact
	{
		&__icon, &__content
		{
			color: $primary-color;
		}
	}
	.search-form
	{
		width: 30%;
		._btn-submit {
		    padding: 0.5714285714rem 1.4285714286rem;
		}
	}
	.left-sidebar, .aside
	{
		width: 13.5%;
	}
	/* .menu
	{
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			ul
			{
				display: none;
				ul
				{
					a
					{
						margin-left: rem(40);
					}
				}
				&.active
				{
					display: block;
				}
				a
				{
					font-weight: normal;
					margin-left: rem(30);
					padding-left: 0;
					padding-right: 0;
					background: transparent;
					border-bottom: 1px dashed #ebebeb;
					color: #484954;
				}
			}
		}
		li {
			position: relative;
			a {
				text-decoration: none;
				padding: rem(10) rem(20);
				color: #212121;
				display: block;
				background: #F9F9F9;
				font-weight: 500;
			}
			._show
			{
				position: absolute;
				top: 3px;
				display: inline-block;
				width: 20px;
				right: 5px;
				cursor: pointer;
				color: #C4C4C4;
			}
		}
	} */
	
	.options
	{
		.option
		{
			padding: rem(10) rem(20);
			._label
			{
				cursor: pointer;
			}
		}
	}
	.main-content, .contact-me
	{
		padding: rem(8) rem(35) rem(100) rem(35);
		width: 73%;
	}
	
	.item
	{

		._link-img
		{
			._img
			{
				width: 100%;
			}
		}
		._hashtag
		{
			&:not(:first-child)
			{
				margin-left: .5rem;
			}
			&::before
			{
				content: '#';
			}
		}
	}
	.item
	{
		._img-wrapper::before, ._link-img::before, ._link-img::after
		{
			display: none;
		}
		._img-wrapper
		{
			width: 100%;
			height: 250px;
			position: relative;
			&::before
			{
				position: absolute;
				content:  '';
				display: block;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 1);
				opacity: 0;
				transition: 1s all ease;
				top: 0;
				left: 0;
			}
			&:hover
			{
				._link-img::after
				{
					width: 70%;
					height: 90%;
				}
				._link-img::before
				{
					width: 80%;
					height: 80%;
				}
				&::before
				{
					background: rgba(0, 0, 0, .5);
				}
				._link-img::after, ._link-img::before, &::before
				{
					opacity: 1;
				}
			}
			._link-img
			{
				&::after, &::before
				{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					cursor: pointer;
					transition: 1s all ease;
					opacity: 0;
				}
				&::before
				{
					width: 110%;
					height: 110%;
					border-bottom: 1px solid #fff;
					border-top: 1px solid #fff;
					content: 'XEM THÊM';
					color: #fff;
					text-transform: uppercase;
					justify-content: center;
					align-items: center;
					display: flex;
				}
				&::after
				{
					display: block;
					width: 100%;
					height: 120%;
					border-left:  1px solid #fff;
					border-right:  1px solid #fff;
				}
			}
		}
	}
	.show-detail-prd
	{
		width: 100vw;
	    height: 100vh;
	    position: fixed;
	    background: transparent;
	    visibility: hidden;
	    transition: 1s background ease;
	    left: 0;
	    top: 0;
	    z-index: 100;
	    padding: 10vh 15vw 0 15vw;
	    &.active
	    {
	    	visibility: visible;
	   		background: rgba(0,0,0,.6);
	    }
	    ._slider
	    {
	    	height: 65%;
	    	._buttons
	    	{
	    		z-index: 101;
	    		height: 100%;
	    		._btn-previous
	    		{
	    			left: 0;
	    		}
	    		._btn-previous, ._btn-next
	    		{
	    			top: 45%;
	    		}
	    		._btn-previous, ._btn-next, ._btn-close
	    		{
	    			cursor: pointer;
	    			z-index: 103;
	    			
	    		}
	    		._btn-next
	    		{
	    			right: 0;
	    		}
	    		._btn-close 
	    		{
	    			right: 0;
	    			top: 0;
	    		}
	    	}
	    	._picture
	    	{
	    		._img
	    		{
	    			object-fit: cover;
	    		}
	    	}
	    }
	    ._tab-index
	    {
	    	min-height: 20%;
	    	height: auto;
	    	._img-link
	    	{
	    		&.active
	    		{
	    			border: 2px solid $primary-color;
	    		}
	    	}
	    	._img
	    	{

	    	}
	    }
	}
}

