@import '../base/variable';
@import '../base/commons';
@import '../components/components-mobile';
@import '../function/function';

@media(max-width: 767.98px)
{
	.search-form
	{
		width: auto;
	}
	
}
@media(max-width: 991.98px)
{
	html
	{
		font-size: 12px;
	}
	.header {
		background: linear-gradient(90.22deg, #DD0003 7.42%, #F26923 96.6%);
	}
	.logo-mobile
	{
		width: 50px;
		&.--menu
		{
			width: auto;
			background: linear-gradient(90.22deg, #DD0003 7.42%, #F26923 96.6%);
			._img
			{
				width: 50px;
				height: 50px;
			}
		}
	}
	.search-form
	{
		position: relative;
		order: 2;
		background: white;
		border-radius: 999px;
		._keyword
		{
			background: none;
			border: none;
			padding-right: rem(30);
		}
		._btn-submit
		{
			height: 100%;
			position: absolute;
			width: 36px;
			top: 0;
			right: 0;
			border-radius: 999px;
		}
	}
	.navigation
	{
		min-height: 0;
		padding: rem(10) 0; 
	}
	.contact
	{
		* {
			color: white;
		}
	}
	.center-hr-element
	{
		&.--item
		{
			._content
			{
				padding-left: rem(10);
			}
		}
	}
	.item 
	{
		._img-wrapper
		{
			height: 175px;
			._link-img
			{
				._img
				{
					width: 100%;
				}
			}
		}
	}
	.btn-toggle-menu__wrapper
	{
		order: 3;
		.toggle-menu
		{
			padding: rem(8) rem(10);
		}
	}
	.menu
	{
		width: 50vw;
		transform: translateX(-100vw);
		opacity: 0;
		visibility: hidden;
		transition: 1s all ease;
		height: 100vh;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		background: white;
		&.active
		{
			opacity: 1;
			transform: translateX(0);
			visibility: visible;
		}
	}
	.footer
	{
		.company-info
		{
			width: 100%;
			padding: 0;
			._block:not(:last-child)
			{
				border-bottom: 1px solid $primary-color;
			}
		}
	}
}



